---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
At HealthReachFar, we believe that health is not a destination—it’s a journey. Our mission is to empower individuals to take charge of their well-being through balanced nutrition, regular movement, mental wellness, and sustainable habits. Whether you're just starting out or looking to refine your lifestyle, we provide accessible resources, expert-backed insights, and a supportive community that encourages progress over perfection. From meal ideas and fitness tips to mindfulness practices and wellness challenges, HealthReachFar is here to guide, motivate, and inspire you to live your healthiest, most vibrant life—every step of the way.
`;
---

<Layout title="Welcome to Astro.">
    <img src="../assets/logo.png" alt="logo" width="180" height="120" />
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">HealthReachFar</h1>
    <Markdown content={explainer} class="text-lg mb-10" />

</Layout>
