---

---

<footer>
    <a href="/privacy.html" target="_blank" rel="noopener noreferrer">Privacy Policy</a> |
    <a href="/terms.html" target="_blank" rel="noopener noreferrer">Terms of Service</a> |
    <a href="mailto:support@yourdomain.com">Contact Us</a>
    <a href="/deleteUserData.html" target="_blank" rel="noopener noreferrer">Delete User Data</a> |

</footer>
